<div class="container col-md-8">
    <br><br>
    <h4><strong><b>Grupo Investigación en Manejo de Información </b></strong></h4>
    <br>
    <div class="align-items-center">
        <img src="./../../assets/gimi.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <br>
    <h4 style="text-align: left"> <b> <strong> Mision: </strong> </b></h4>
    <h5 style="text-align: justify"> Crear conocimiento referente a las tecnologías y metodologías orientadas a la gestión de la información, que facilite un mejor desarrollo de proyectos en el campo educacional y laboral, permitiendo tener un compendio de conocimientos y recursos a
        la mano, que puedan ser utilizados por la comunidad universitaria y aplicada en el campo laboral e investigativo. El Grupo de Investigación para el Manejo de la Información (GIMI) propende por la creación de semilleros que se enfoquen en el desarrollo
        de investigación básica y aplicada, que promuevan un desarrollo integral como profesionales e investigadores. GIMI trabajará en forma interdisciplinaria tanto con los grupos de la Universidad, como con otros grupos de investigación de universidades
        colombianas y extranjeras. En extensión incentivará el mejor desarrollo de diferentes proyectos, seminarios, congresos y actividades culturales, a fin de consolidarnos como generadores de investigación y conocimiento en la región y en el país.
    </h5>
    <br>
    <h4 style="text-align: left"> <b> <strong> Visión: </strong> </b></h4>
    <h5 style="text-align: justify">Ser fortalecedores de investigación y desarrollo en el área de gestión de la información, ofreciendo soluciones tecnológicas e informáticas novedosas a nuestra región, al país y al continente. Desarrollar y usar los mejores recursos de manejo de la
        información, para ofrecer soluciones integrales en las diferentes áreas del conocimiento que lo requieran, como también a los proyectos que se desarrollen en forma conjunta con otros grupos de Investigación o con la comunidad. Garantizar el desarrollo
        de proyectos que involucren problemáticas de manejo de información dando soluciones tecnológicas e investigativas acordes al tamaño del problema y favorabilidad social para el mejoramiento en la prestación de servicios a nuestra comunidad.
    </h5>
    <br>
    <h4 style="text-align: left"> <b> <strong> Descripción: </strong> </b></h4>
    <h5 style="text-align: justify">Históricamente el manejo de la información siempre ha sido uno de las temáticas fundamentales de la humanidad, ya que toda cotidianidad exige la clasificación, almacenamiento, búsqueda y transporte de información. Esta información que inicia como
        dato básico, se va transformado en información para clasificar y cualificar cualquier elemento con el que se relacione los procesos de la humanidad. Las soluciones de la anterior problemática iniciaron por archivos planos, imágenes, documentos
        en cualquier medio, pasando por las bases de datos como un conjunto de información almacenada. Las bases de datos como una de los esquemas más relevantes de manejo de información estructurada, surgen desde mediados de los años sesenta y han marcado
        la línea de investigación por muchos años, ahora se encuentran los modelos orientados a objetos.
    </h5>
    <br><br>
    <h4 style="text-align: left"> <b> <strong> Generalidades: </strong> </b></h4>
    <div class="flex-left">
        <table class=" flex-left table table-borderless  col-lg-8 col-md-12">
            <tbody>
                <tr>
                    <td style="text-align: left">
                        <h5><strong><b>Sigla:  &nbsp; </b></strong></h5>
                    </td>
                    <td style="text-align: left">
                        <h5>GIMI </h5>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left">
                        <h5><strong><b>Area del conocimiento:  &nbsp; </b></strong></h5>
                    </td>
                    <td style="text-align: left">
                        <h5>Ingeniería y Tecnología -- Otras Ingenierías y Tecnologías </h5>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left">
                        <h5><strong><b>Director:  &nbsp; </b></strong></h5>
                    </td>
                    <td style="text-align: left">
                        <h5>
                            Gustavo Cáceres Castellanos </h5>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left">
                        <h5><strong><b>Fecha de creación:  &nbsp; </b></strong></h5>
                    </td>
                    <td style="text-align: left">
                        <h5>Febrero 2007</h5>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left">
                        <h5><strong><b>Categoría Colciencias:  &nbsp; </b></strong></h5>
                    </td>
                    <td style="text-align: left">
                        <h5>
                            B </h5>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left">
                        <h5><strong><b>Código GrupLAC:&nbsp; </b></strong></h5>
                    </td>
                    <td style="text-align: left">
                        <h5>COL0071089 </h5>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left">
                        <h5><strong><b>Correo contacto:  &nbsp; </b></strong></h5>
                    </td>
                    <td style="text-align: left">
                        <h5 class="text-align:center"><a href="mailto:gis@uptc.edu.co">gimi@uptc.edu.co</a></h5>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class=" col-md-6 col-xs-12">
            <h4 style="text-align: left"> <b> <strong> Docentes del programa: </strong> </b></h4>
            <ul style="text-align: justify">
                <li>
                    <h5>Gustavo Cáceres Castellanos </h5>
                </li>
                <li>
                    <h5> Jorge Enrique Quevedo Reyes </h5>
                </li>
                <li>
                    <h5>Javier Antonio Ballesteros Ricaurte </h5>
                </li>
                <li>
                    <h5> Juan Sebastián González Sanabria</h5>
                </li>
            </ul>
        </div>
        <div class=" col-md-6 col-xs-12">
            <h4 style="text-align: left;"> <b> <strong> Líneas de Investigación: </strong> </b></h4>
            <ul style="text-align: justify">
                <li>
                    <h5>Bases de Datos Espaciales y Sistemas de Información Geográficos. </h5>
                </li>
                <li>
                    <h5> Inteligencia de negocios, Bodega y Minería de Datos. </h5>
                </li>
                <li>
                    <h5>Tecnologías de la Información TI. </h5>
                </li>
                <li>
                    <h5> Tendencias y tecnologías en el manejo de la información. </h5>
                </li>
            </ul>
            <br><br>
        </div>
    </div>
</div>