<br><br>
<h3 style="text-align: center"> <b> <strong> Malla Curricular </strong> </b></h3>

<div class="flex-center container">
    <table class=" flex-center table table-borderless col-lg-8 ">
        <tr class="col-md-12">
            <td>
                <h4>Primer semestre</h4>
            </td>
            <td class="col-md-12"> <button type="button" mdbBtn color="primary" class="waves-light" mdbPopover="Creditos: 4 Area:	
              Interdisciplinar" placement="top" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
                Algoritmos y Programación
            </button></td>
            <td class="col-md-12"> <button type="button" mdbBtn color="unique" class="waves-light" mdbPopover="Creditos: 4 Area:	
              Interdisciplinar" placement="top" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
                Calculo  I
            </button></td>
            <td class="col-md-12"><button type="button" mdbBtn color="dark-green" class="waves-light" mdbPopover="Creditos: 3 Area:	
              general" placement="top" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
              Cátedra Universidad 
            </button></td>
            <td class="col-md-12"><button type="button" mdbBtn color="purple" class="waves-light" mdbPopover="Creditos: 4 Area:	
              general" placement="top" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
              Competencias Comunicativas
            </button></td>
            <td class="col-md-12"> <button type="button" mdbBtn color="deep-orange" class="waves-light" mdbPopover="Creditos: 4 Area:	
              general" placement="left" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
              Socio Humanistica I
            </button></td>
        </tr>
        <tr>
            <td>
                <h4>segundo semestre</h4>
            </td>
            <td style="width: 14%"> <button type="button" mdbBtn color="primary" class="waves-light" mdbPopover="Creditos: 4 Area:	
              Disciplinar y Profundización" placement="top" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
                 Programación I
            </button></td>
            <td style="width: 14%"> <button type="button" mdbBtn color="unique" class="waves-light" mdbPopover="Creditos: 3 Area:	
              Interdisciplinar" placement="top" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
                Calculo  II
            </button></td>
            <td style="width: 14%"><button type="button" mdbBtn color="unique" class="waves-light" mdbPopover="Creditos: 4 Area:	
              Interdisciplinar" placement="top" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
                Fisica I 
            </button></td>
            <td style="width: 14%"><button type="button" mdbBtn color="brown" class="waves-light" mdbPopover="Creditos: 3 Area:	
              Interdisciplinar" placement="top" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
              Algebra lineal 
            </button></td>
            <td style="width: 14%"> <button type="button" mdbBtn color="mdb-color" class="waves-light" mdbPopover="Creditos: 4 Area:	
              Interdisciplinar" placement="left" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
              Ética y Política
            </button></td>
        </tr>
        <tr>
            <td>
                <h4>tercer semestre</h4>
            </td>
            <td style="width: 14%"> <button type="button" mdbBtn color="primary" class="waves-light" mdbPopover="Creditos: 4 Area:	
              Disciplinar y Profundización" placement="top" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
                 Programación II
            </button></td>
            <td style="width: 14%"> <button type="button" mdbBtn color="unique" class="waves-light" mdbPopover="Creditos: 3 Area:	
              Interdisciplinar" placement="top" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
                Calculo  III
            </button></td>
            <td style="width: 14%"><button type="button" mdbBtn color="unique" class="waves-light" mdbPopover="Creditos: 4 Area:	
              Interdisciplinar" placement="top" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
                Fisica II
            </button></td>
            <td style="width: 14%"><button type="button" mdbBtn color="amber" class="waves-light" mdbPopover="Creditos: 3 Area:	
              Interdisciplinar" placement="top" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
            Economia
            </button></td>
            <td style="width: 14%"> <button type="button" mdbBtn color="pink" class="waves-light" mdbPopover="Creditos: 4 Area:	
              Interdisciplinar" placement="left" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
              Éxpresion Grafica
            </button></td>
            <td style="width: 14%"> <button type="button" mdbBtn color="elegant" class="waves-light" mdbPopover="Creditos: 3 Area:	
              general" placement="left" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
             socio Humanistica II
            </button></td>
        </tr>
        <tr>
            <td>
                <h4>Cuarto semestre</h4>
            </td>
            <td style="width: 14%"> <button type="button" mdbBtn color="primary" class="waves-light" mdbPopover="Creditos: 4 Area:	
              Disciplinar y Profundización" placement="top" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
                 Programación III
            </button></td>
            <td style="width: 14%"> <button type="button" mdbBtn color="unique" class="waves-light" mdbPopover="Creditos: 3 Area:	
              Interdisciplinar" placement="top" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
                Calculo IV
            </button></td>
            <td style="width: 14%"><button type="button" mdbBtn color="unique" class="waves-light" mdbPopover="Creditos: 4 Area:	
              Interdisciplinar" placement="top" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
                Fisica III
            </button></td>
            <td style="width: 14%"><button type="button" mdbBtn color="danger" class="waves-light" mdbPopover="Creditos: 3 Area:	
              Interdisciplinar" placement="top" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
              Metodología de la Investigación
            </button></td>
            <td style="width: 14%"> <button type="button" mdbBtn color="light-blue" class="waves-light" mdbPopover="Creditos: 3 Area:	
              Interdisciplinar" placement="left" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
              Probabilidad y Estadística
            </button></td>
        </tr>
        <tr>
            <td>
                <h4>Quinto semestre</h4>
            </td>
            <td style="width: 14%"> <button type="button" mdbBtn color="primary" class="waves-light" mdbPopover="Creditos: 4 Area:	
              Disciplinar y Profundización" placement="top" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
                 Ingenieria de Requisitos
            </button></td>
            <td style="width: 14%"> <button type="button" mdbBtn color="unique" class="waves-light" mdbPopover="Creditos: 3 Area:	
              Interdisciplinar" placement="top" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
                Metodos numericos
            </button></td>
            <td style="width: 14%"><button type="button" mdbBtn color="purple" class="waves-light" mdbPopover="Creditos: 4 Area:	
              Disciplinar y Profundización" placement="top" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
              Bases de datos I
            </button></td>
            <td style="width: 14%"><button type="button" mdbBtn color="cyan" class="waves-light" mdbPopover="Creditos: 3 Area:	
              Disciplinar y Profundización" placement="top" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
             Electronica General
            </button></td>
            <td style="width: 14%"> <button type="button" mdbBtn color="light-green" class="waves-light" mdbPopover="Creditos: 3 Area:	
              Disciplinar y Profundización" placement="left" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
              Teoria general  sistemas
            </button></td>

        </tr>
        <tr>
            <td>
                <h4>Sexto semestre</h4>
            </td>
            <td style="width: 14%"> <button type="button" mdbBtn color="primary" class="waves-light" mdbPopover="Creditos: 4 Area:	
              Disciplinar y Profundización" placement="top" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
                 Ingenieria de Software I
            </button></td>
            <td style="width: 14%"> <button type="button" mdbBtn color="dark-green" class="waves-light" mdbPopover="Creditos: 4 Area:	
              Disciplinar y Profundización" placement="top" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
                Comunicaciones
            </button></td>
            <td style="width: 14%"><button type="button" mdbBtn color="purple" class="waves-light" mdbPopover="Creditos: 4 Area:	
              Disciplinar y Profundización" placement="top" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
              Bases de datos II
            </button></td>
            <td style="width: 14%"><button type="button" mdbBtn color="mdb-color" class="waves-light" mdbPopover="Creditos: 3 Area:	
              Disciplinar y Profundización" placement="top" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
         Matematicas Discretas
            </button></td>
            <td style="width: 14%"> <button type="button" mdbBtn color="deep-orange" class="waves-light" mdbPopover="Creditos: 4 Area:	
              Disciplinar y Profundización" placement="left" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
              Investigación de Operaciones
            </button></td>
        </tr>
        <tr>
            <td>
                <h4>Septimo semestre</h4>
            </td>
            <td style="width: 14%"> <button type="button" mdbBtn color="primary" class="waves-light" mdbPopover="Creditos: 4 Area:	
              Disciplinar y Profundización" placement="top" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
                 Ingenieria de Software II
            </button></td>
            <td style="width: 14%"> <button type="button" mdbBtn color="dark-green" class="waves-light" mdbPopover="Creditos: 4 Area:	
              Disciplinar y Profundización" placement="top" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
                Transmision de datos
            </button></td>
            <td style="width: 14%"><button type="button" mdbBtn color="pink" class="waves-light" mdbPopover="Creditos: 3 Area:	
              Disciplinar y Profundización" placement="top" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
              Sistemas Distribuidos
            </button></td>
            <td style="width: 14%"><button type="button" mdbBtn color="mdb-color" class="waves-light" mdbPopover="Creditos: 4 Area:	
              Disciplinar y Profundización" placement="top" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
         Lenguajes Formales
            </button></td>
            <td style="width: 14%"> <button type="button" mdbBtn color="yellow" class="waves-light" mdbPopover="Creditos: 4 Area:	
              Disciplinar y Profundización" placement="left" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
              Sistemas Operativos
            </button></td>
        </tr>
        <tr>
            <td>
                <h4>Octavo semestre</h4>
            </td>
            <td style="width: 14%"> <button type="button" mdbBtn color="primary" class="waves-light" mdbPopover="Creditos: 4 Area:	
              Disciplinar y Profundización" placement="top" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
                Trabajo de campo
            </button></td>
            <td style="width: 14%"> <button type="button" mdbBtn color="dark-green" class="waves-light" mdbPopover="Creditos: 4 Area:	
              Disciplinar y Profundización" placement="top" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
              Redes de Datos
            </button></td>
            <td style="width: 14%"><button type="button" mdbBtn color="indigo" class="waves-light" mdbPopover="Creditos: 4 Area:	
              Disciplinar y Profundización" placement="top" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
              Inteligencia Computacional
            </button></td>
            <td style="width: 14%"><button type="button" mdbBtn color="light-blue" class="waves-light" mdbPopover="Creditos: 3 Area:	
              Disciplinar y Profundización" placement="top" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
              Arquitectura de Computadores
            </button></td>
            <td style="width: 14%"> <button type="button" mdbBtn color="deep-orange" class="waves-light" mdbPopover="Creditos: 3 Area:	
              Interdisciplinar" placement="left" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
              Administración
            </button></td>
        </tr>
        <tr>
            <td>
                <h4>Noveno semestre</h4>
            </td>
            <td style="width: 14%"> <button type="button" mdbBtn color="purple" class="waves-light" mdbPopover="Creditos: 3 Area:	
              Disciplinar y Profundización" placement="top" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
              Auditoría de Sistemas	
            </button></td>
            <td style="width: 14%"> <button type="button" mdbBtn color="mdb-color" class="waves-light" mdbPopover="Creditos: 4 Area:	
              Disciplinar y Profundización" placement="top" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
              Electiva I
            </button></td>
            <td style="width: 14%"><button type="button" mdbBtn color="elegant" class="waves-light" mdbPopover="Creditos: 4 Area:	
              Disciplinar y Profundización" placement="top" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
              Electiva II
            </button></td>
            <td style="width: 14%"><button type="button" mdbBtn color="deep-purple" class="waves-light" mdbPopover="Creditos: 3 Area:	
              Disciplinar y Profundización" placement="top" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
              Gerencia Informática
            </button></td>
            <td style="width: 14%"> <button type="button" mdbBtn color="cyan" class="waves-light" mdbPopover="Creditos: 3 Area:	
              Disciplinar y Profundización" placement="left" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
              Seminario de Trabajo de Grado
            </button></td>
            <td style="width: 14%"> <button type="button" mdbBtn color="pink" class="waves-light" mdbPopover="Creditos: 4 Area:	
              Disciplinar y Profundización" placement="left" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
              Simulación por Computador
            </button></td>
        </tr>
        <tr>
            <td>
                <h4>Decimo semestre</h4>
            </td>
            <td style="width: 14%"> <button type="button" mdbBtn color="dark-green" class="waves-light" mdbPopover="Creditos: 3 Area:	
              Disciplinar y Profundización" placement="top" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
              Electiva III
            </button></td>
            <td style="width: 14%"> <button type="button" mdbBtn color="unique" class="waves-light" mdbPopover="Creditos: 3   Area:	
              Disciplinar y Profundización" placement="top" mdbPopoverHeader="Caracteristicas" mdbWavesEffect>
              Electiva IV
            </button></td>
        </tr>
    </table>
</div>