<div class=" container col-md-8">
    <br>
    <h4><strong><b>Docentes de Planta</b></strong></h4>
    <br>
    <table class="table table-bordered" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td> <b> <strong>MIGUEL ÁNGEL MENDOZA MORENO </strong>  </b>
                    <br> Docente Asistente (Grupo de Investigación TelemaTICs) CvLAC</td>
                <td style="width: 30%" rowspan="2"> <img src="./../../assets/miguelM.jpg" class="img-fluid" alt="Responsive image"></td>
            </tr>
            <tr>
                <td style="text-align: justify">
                    <b>  <strong>  Doctor en Ciencias de la Electrónica. Universidad del Cauca. </strong> </b> <br>
                    <b>  <strong>  Magíster en Ciencias de la Información y las Comunicaciones. </strong></b> <br> Universidad Distrital "Francisco José de Caldas". <br>
                    <b><strong>  Especialista en Redes y Servicios Telemáticos.</strong> </b> Universidad del Cauca. <br>
                    <b><strong>  Especialista en Pedagogía para el Desarrollo del Aprendizaje Autónomo.</strong></b> <br> Universidad Nacional Abierta y a Distancia. <br>
                    <b><strong>  Ingeniero de Sistemas y Computación.</strong></b> Universidad Pedagógica y Tecnológica de Colombia.
                    <br> <b><strong>  Correo electrónico:</strong></b> miguel.mendoza@uptc.edu.co</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td> <b> <strong>MAURO CALLEJAS CUERVO </strong>  </b>
                    <br> Docente Asociado (Grupo de Investigación GIS) CvLAC</td>
                <td style="width: 30%" rowspan="2"> <img src="./../../assets/Mauro_Callejas_Cuervo.jpg" class="img-fluid" alt="Responsive image"></td>
            </tr>
            <tr>
                <td style="text-align: justify">
                    <b>  <strong> Doctor en Energía y Control de Procesos.Universidad De Oviedo </strong> </b> <br>
                    <b>  <strong> Doctor en Ciencia Aplicada. </strong></b> Universidad Antonio Nariño. <br>
                    <b><strong>Magíster en Ciencias Computacionales.</strong> </b>Universidad Autónoma de Bucaramanga. <br>
                    <b><strong>  Instituto Tecnológico y de Estudios Superiores de Monterrey.</strong></b> <br>
                    <b><strong> Ingeniero de sistemas con Énfasis en Software.</strong></b> Universidad Antonio Nariño.
                    <br> <b><strong>  Correo electrónico:</strong></b> mauro.callejas@uptc.edu.co</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td> <b> <strong>JUAN JOSÉ CAMARGO VEGA  </strong>  </b>
                    <br> Docente Asociado CvLAC</td>
                <td style="width: 30%" rowspan="2"> <img src="./../../assets/incognito.jpg" class="img-fluid" alt="Responsive image"></td>
            </tr>
            <tr>
                <td style="text-align: justify">
                    <b>  <strong> Doctor en Informática - Programa sociedad de la información y el conocimiento </strong> </b> Universidad Pontificia de Salamanca.<br>
                    <b>  <strong> Magíster en Nuevas Tecnologías de la Información.  </strong></b> Universidad Pedagógica Nacional. <br>
                    <b><strong>Especialista en Diseño de Sistemas de Auditoría.</strong> </b>Universidad Nacional de Colombia<br>
                    <b><strong>  Especialista en Ingeniería del Software.</strong></b> Universidad Antonio Nariño. <br>
                    <b><strong> Ingeniero de Sistemas.</strong></b> Universidad INCCA.
                    <br> <b><strong>  Correo electrónico:</strong></b> mauro.callejas@uptc.edu.co</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td style="height: 10%;"> <b> <strong>JORGE ENRIQUE QUEVEDO REYES  </strong>  </b>
                    <br> Docente Asistente (Grupo de Investigación GIMI) CvLAC</td>
                <td style="width: 30%" rowspan="2"> <img src="./../../assets/quevedo.jpg" class="img-fluid" alt="Responsive image"></td>
            </tr>
            <tr>
                <td style="text-align: justify">
                    <b>  <strong>Magíster en Ingeniería de Sistemas, </strong> </b> Universidad de los Andes. <br>
                    <b>  <strong> Especialista en Sistemas.   </strong></b> Universidad Nacional de Colombia. <br>
                    <b><strong>Ingeniero de Sistemas.</strong> </b>Universidad Piloto de Colombia. <br>
                    <b><strong>  Correo electrónico:</strong></b> jorge.quevedo@uptc.edu.co</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td style="height: 10%;"> <b> <strong>JORGE ENRIQUE OTÁLORA LUNA   </strong>  </b>
                    <br>Docente Asociado (Grupo de Investigación GIS) CvLAC </td>
                <td style="width: 30%" rowspan="2"> <img src="./../../assets/jotalora.jpg" class="img-fluid" alt="Responsive image"></td>
            </tr>
            <tr>
                <td style="text-align: justify">
                    <b>  <strong> Doctor en Ingeniería del Software.</strong> </b> Universidad Pontificia de Salamanca.<br>
                    <b>  <strong>Magíster Ingeniería de Sistemas.   </strong></b>Universidad EAFIT. <br>
                    <b><strong>Especialista en Ingeniería del Software.</strong> </b> Universidad Antonio Nariño. <br>
                    <b><strong>  Ingeniero de Sistemas.</strong></b>Universidad Antonio Nariño. <br>
                    <br> <b><strong>  Correo electrónico:</strong></b> jorge.otalora@uptc.edu.co</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td style="height: 10%;"> <b> <strong>JORGE ENRIQUE ESPÍNDOLA DÍAZ    </strong>  </b>
                    <br>Docente Asociado (Grupo de Investigación INFELCOM) CvLAC </td>
                <td style="width: 30%" rowspan="2"> <img src="./../../assets/espindola.jpg" class="img-fluid" alt="Responsive image"></td>
            </tr>
            <tr>
                <td style="text-align: justify">
                    <b>  <strong> Doctor Engenharia e Tecnologia Espaciais. </strong> </b> Instituto Nacional De Pesquisas Espaciais.<br>
                    <b>  <strong>Magíster en Ciencias de la Información y las Comunicaciones - Énfasis en Telecomunicaciones.    </strong></b>Universidad Distrital "Francisco José de Caldas". <br>
                    <b><strong>Especialista en Telemática.</strong> </b> Universidad Autónoma de Colombia. <br>
                    <b><strong>  Ingeniero de Sistemas.</strong></b>Escuela de Administración de Negocios. <br>
                    <b><strong>  Correo electrónico:</strong></b> jorge.espindola@uptc.edu.co</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td style="height: 10%;"> <b> <strong>JAVIER ANTONIO BALLESTEROS RICAURTE     </strong>  </b>
                    <br>Docente Asociado (Grupo de Investigación GIMI) CvLAC </td>
                <td style="width: 30%" rowspan="2"> <img src="./../../assets/ballesteros.jpg" class="img-fluid" alt="Responsive image"></td>
            </tr>
            <tr>
                <td style="text-align: justify">
                    <b>  <strong> Magíster en Ciencias Computacionales. </strong> </b> Universidad Autónoma de Bucaramanga.<br>
                    <b>  <strong>Instituto Tecnológico de Monterey.   </strong></b> <br>
                    <b><strong>Ingeniero de Sistemas. </strong> </b> Fundación Universitaria de Boyacá. <br>
                    <b><strong>  Correo electrónico:</strong></b> javier.ballesteros@uptc.edu.co
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table table-bordered" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td style="height: 10%;"> <b> <strong>JAIRO ALONSO MESA LARA   </strong>  </b>
                    <br>Docente Asociado (Grupo de Investigación INFELCOM) CvLAC </td>
                <td style="width: 30%" rowspan="2"> <img src="./../../assets/jairomesa.jpg" class="img-fluid" alt="Responsive image"></td>
            </tr>
            <tr>
                <td style="text-align: justify">
                    <b>  <strong> Magíster en Ciencias de la Información y las Comunicaciones - Énfasis en Telecomunicaciones. </strong> </b> Universidad Distrital "Francisco José de Caldas". <br>
                    <b>  <strong>Especialista en Diseño y Construcción de Soluciones Telemáticas.  </strong></b>Universidad Autónoma de Colombia. <br>
                    <b><strong>Ingeniero Electrónico.</strong> </b> Universidad Pedagógica y Tecnológica de Colombia. <br>
                    <b><strong>  Correo electrónico:</strong></b> jairo.mesa@uptc.edu.co</td>
            </tr>
        </tbody>
    </table>


    <table class="table table-bordered" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td style="height: 10%;"> <b> <strong>GUSTAVO CÁCERES CASTELLANOS    </strong>  </b>
                    <br>Docente Asociado (Grupo de Investigación GIMI) CvLAC </td>
                <td style="width: 30%" rowspan="2"> <img src="./../../assets/caceres.jpg" class="img-fluid" alt="Responsive image"></td>
            </tr>
            <tr>
                <td style="text-align: justify">
                    <b>  <strong> Magíster en Ciencias de la Información y las Comunicaciones - Énfasis en Telecomunicaciones. </strong> </b> Universidad Distrital "Francisco José de Caldas". <br>
                    <b>  <strong>Especialista en Diseño de Sistemas de Auditoría.   </strong></b>Universidad Nacional de Colombia. <br>
                    <b><strong>Ingeniero de Sistemas.</strong> </b> Universidad Piloto de Colombia. <br>
                    <b><strong>  Correo electrónico:</strong></b> gustavo.caceres@uptc.edu.co</td>
            </tr>
        </tbody>
    </table>
    <table class="table table-bordered" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td style="height: 10%;"> <b> <strong>GERMAN AMÉZQUITA BECERRA</strong>  </b>
                    <br>Docente Asistente (Grupo de Investigación INFELCOM) CvLAC </td>
                <td style="width: 30%" rowspan="2"> <img src="./../../assets/amezquita.jpg" class="img-fluid" alt="Responsive image"></td>
            </tr>
            <tr>
                <td style="text-align: justify">
                    <b>  <strong> Magíster en Ciencias de la Información y las Comunicaciones - Énfasis en Telecomunicaciones. </strong> </b> Universidad Distrital "Francisco José de Caldas". <br>
                    <b>  <strong>Especialista en Diseño de Sistemas de Auditoría.   </strong></b>Universidad Antonio Nariño. <br>
                    <b><strong>Ingeniero de Sistemas.</strong> </b>Universidad Antonio Nariño. <br>
                    <b><strong>  Correo electrónico:</strong></b>german.amezquita@uptc.edu.co</td>
            </tr>
        </tbody>
    </table>
</div>