<div class="container col-md-8">
    <br><br>
    <h4><strong><b>Grupo de Investigación en Telemática y TIC aplicada a la Educación</b></strong></h4>
    <br>
    <div class="align-items-center">
        <img src="./../../assets/Telematics5.png" class="img-fluid" alt="Responsive image">
    </div>
    <br>

    <h4 style="text-align: left"> <b> <strong> Descripción: </strong> </b></h4>
    <h5 style="text-align: justify">TelemaTICs Grupo de Investigación en Telemática y TIC aplicada a la educación, desarrolla procesos de investigación e innovación centrados en el uso y aprovechamiento de la tecnología telemática para beneficiar a la sociedad, academia y entorno, fundamentalmente
        desde el aspecto educacional.
    </h5><br>
    <h5 style="text-align: justify">TelemaTICs toma su génesis del concepto de la Telemática que se refiere a la fusión de las telecomunicaciones y la Informática, para emplear técnicas con las que se provea el aprovechamiento tecnológico derivado de la computación y las comunicaciones
        para diferentes usuarios. De esta manera la denominación del grupo resalta la generación de procesos investigativos en una capa superior a las comunicaciones (redes de datos) y a la informática (y sus áreas conexas al proceso y gestión de la información),
        de forma que con un alto nivel se emplea todo el background de estas áreas para promover el uso asertivo e integrado de distintas técnicas (y tecnologías) con la única finalidad de contribuir al desarrollo de conocimiento para la comunidad investigativa
        y solventar necesidades puntuales en la comunidad en general, por medio de la transferencia tecnológica.
    </h5><br>
    <h5 style="text-align: justify">Ahora bien, en lengua sajona el término "teleinformatics" se asocia al grupo de personas que trabajan en la disciplina Telemática. Los investigadores consideran a la Telemática, la Educación y particularmente, a cada una de las líneas de investigación
        definidas, con la suficiente madurez y oportunidad para ejercer procesos investigativos, a partir de los siguientes sustentos:
    </h5><br>
    <ol style="text-align: justify">
        <li>
            <h5>Tecnología como oportunidad y motor de las dinámicas de cambio educativo y organizacional.</h5>
        </li>
        <li>
            <h5> Sistemas personalizados. </h5>
        </li>
        <li>
            <h5>Internet of Everything. </h5>
        </li>
    </ol>

    <br><br>
    <h4 style="text-align: left"> <b> <strong> Generalidades: </strong> </b></h4>
    <div class="flex-left">
        <table class=" flex-left table table-borderless  col-lg-8 col-md-12">
            <tbody>
                <tr>
                    <td style="text-align: left">
                        <h5><strong><b>Sigla:  &nbsp; </b></strong></h5>
                    </td>
                    <td style="text-align: left">
                        <h5>TELEMATICS </h5>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left">
                        <h5><strong><b>Area del conocimiento:  &nbsp; </b></strong></h5>
                    </td>
                    <td style="text-align: left">
                        <h5>Ingeniería y Tecnología -- Otras Ingenierías y Tecnologías </h5>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left">
                        <h5><strong><b>Director:  &nbsp; </b></strong></h5>
                    </td>
                    <td style="text-align: left">
                        <h5>

                            Miguel Ángel Mendoza Moreno </h5>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left">
                        <h5><strong><b>Fecha de creación:  &nbsp; </b></strong></h5>
                    </td>
                    <td style="text-align: left">
                        <h5>Enero 2014 </h5>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left">
                        <h5><strong><b>Categoría Colciencias:  &nbsp; </b></strong></h5>
                    </td>
                    <td style="text-align: left">
                        <h5>
                            Reconocido</h5>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left">
                        <h5><strong><b>Código GrupLAC:&nbsp; </b></strong></h5>
                    </td>
                    <td style="text-align: left">
                        <h5>COL0166146 </h5>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left">
                        <h5><strong><b>Correo contacto:  &nbsp; </b></strong></h5>
                    </td>
                    <td style="text-align: left">
                        <h5><a href="mailto:gis@uptc.edu.co">telematics@uptc.edu.co</a> </h5>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class=" col-md-6 col-xs-12">
            <h4 style="text-align: left"> <b> <strong> Docentes del programa: </strong> </b></h4>
            <ul style="text-align: justify">
                <li>
                    <h5>Miguel Ángel Mendoza Moreno </h5>
                </li>
                <li>
                    <h5> Andrés Alejandro Mora Franco</h5>
                </li>
            </ul>
        </div>
        <div class=" col-md-6 col-xs-12">
            <h4 style="text-align: left;"> <b> <strong> Líneas de Investigación: </strong> </b></h4>
            <ul style="text-align: justify">
                <li>
                    <h5>IoE (Internet of Everything) </h5>
                </li>
                <li>
                    <h5> Technology- enhanced Learning (TeL) </h5>
                </li>
                <li>
                    <h5> Sistemas Personalizados/Adaptativos</h5>
                </li>
            </ul>
            <br><br>
        </div>
    </div>
</div>