<br>
<br>
<section id="justContent " class="container col-md-8">
    <h4 style="text-align: left"> <b> <strong> Mision: </strong> </b></h4>
    <h5 style="text-align: justify"> El programa de Ingeniería de Sistemas y Computación pretende fomentar en el futuro profesional un pensamiento crítico, ético, innovador en lo tecnológico e investigativo, para la construcción y aplicación permanente del conocimiento en las tecnologías
        informáticas, que den solución a las necesidades de su contexto, contribuyendo al crecimiento social del entorno.</h5>
    <br>
    <h4 style="text-align: left"> <b> <strong> Visión: </strong> </b></h4>
    <h5 style="text-align: justify">El programa de Ingeniería de Sistemas y Computación se proyecta como un núcleo de saberes apoyado en una estructura curricular flexible, un cuerpo administrativo idóneo, una infraestructura física actualizada; acorde con los avances tecnológicos del
        área, y una comunidad académica innovadora, comprometida con la investigación, que permita interactuar con la universalidad de la informática; formando profesionales con pensamiento crítico, ético, humanístico e investigativo.</h5>
    <br>
    <h5 style="text-align: justify">Para cumplir la misión y los objetivos propuestos, el programa contará con docentes altamente calificados, espacios adecuados para la investigación, acceso a redes de comunicación, laboratorios, software y el soporte económico para el mantenimiento
        y renovación de dichos recursos. Además, se contará con convenios interdisciplinarios e interinstitucionales, nacionales e internacionales.</h5>
    <br>
    <h4 style="text-align: left"> <b> <strong> Justificación: </strong> </b></h4>
    <h5 style="text-align: justify">Uno de los pilares fundamentales para un desarrollo sostenido de una sociedad en cualquier parte del mundo, debe partir de varios aspectos tales como: la infraestructura física, infraestructura lógica, el recurso humano, el recurso tecnológico y el
        manejo de la información, para que al final, la sociedad satisfaga sus necesidades mínimas y poder tener un aceptable grado de prosperidad y desarrollo. Dentro del manejo de la información, el Ingeniero de Sistemas y Computación, participa en
        forma activa en el desarrollo e implementación de sistemas de información a nivel nacional e internacional, debido a que se encuentra dotado de capacidad de análisis, diseño y administración, ejerciendo un papel importante en la consecución de
        objetivos dentro de una organización empresarial, de tipo privado y/o estatal.</h5>
    <br>
    <h5 style="text-align: justify">El fenómeno de la globalización es una realidad y por ello, hay que aprender a vivir con nuevas herramientas para enfrentar este nuevo modelo de mundo. Dicho fenómeno afecta a todos los sectores incluyendo las instituciones de educación superior;
        es por esto, que es un imperativo formar profesionales que construyan conocimiento y que, además, desarrollen habilidades para tomar decisiones, para la iniciativa particular, para el ejercicio de la autonomía, para ver el futuro y actuar de manera
        coherente con principios sólidos por su fundamentación, pero flexibles en su aplicación.</h5>
    <br>
    <h5 style="text-align: justify">En ingeniería de sistemas y computación, existen parámetros claros que señalan su rumbo y hacen que el programa ofrecido por la Universidad, tenga pertinencia con la época y relevancia con las necesidades del medio y del país, entre estos parámetros
        se pueden citar:</h5>
    <br>
    <ul style="text-align: justify">
        <li>
            <h5> La utilización de los sistemas de información en lugares como: la banca, el comercio, la industria, la agroindustria y la academia. </h5>
        </li>
        <li>
            <h5> La realización de múltiples procesos en forma completamente sistematizada y su propagación a través de las redes de comunicación de datos, voz, video y servicios integrados.</h5>
        </li>
        <li>
            <h5> La creciente demanda de desarrollos de software, implicada por la necesidad sentida por las instituciones académicas, empresariales, industriales de la región y el país, por los diferentes renglones de la economía, de personas con formación
                y liderazgo, con énfasis en Ingeniería del software, redes de comunicación, gestión empresarial, como lo demuestra el proyecto implementado por la Presidencia de la República, Agenda de Conectividad. </h5>
        </li>
    </ul>
    <br>
</section>