<div id="contacto" class="container">
    <br><br>
    <h2 style="text-align: center"><strong><b> Contactanos </b></strong> </h2>
    <br>
    <div class="row">
        <div class="col-lg-6 col-md-6 mb-12">
            <br><br><br><br><br>
            <h4 class="text-align:center"> <strong><b> Universidad Pedagógica y Tecnológica de Colombia Facultad de Ingeniería </b></strong> </h4>
            <h5 class="text-align:center">Escuela de Ingeniería de Sistemas y Computación </h5>
            <h5 class="text-align:center"><strong> <b> PBX:</b></strong> (57) 8 7405626 Ext.: 2545 - 2546 - 2548 </h5>
            <h6 class="text-align:center"><a href="mailto:ingenieria.sistemas@uptc.edu.co">ingenieria.sistemas@uptc.edu.co</a></h6>
        </div>
        <div class="col-lg-6 col-md-6 mb-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31769.021439465603!2d-73.35594839999999!3d5.5480817!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3c1e6f4e767244da!2sUPTC%2C+Universidad+Pedag%C3%B3gica+y+Tecnol%C3%B3gica+de+Colombia!5e0!3m2!1ses-419!2sco!4v1558455314636!5m2!1ses-419!2sco"
                width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>
<br>
<br>
<br>