.view1 {
    background: url("https://image.freepik.com/foto-gratis/jovenes-multietnicos-que-usan-computadoras-telefonos-inteligentes-tabletas_1139-994.jpg")no-repeat center;
    background-size: cover;
    height: 90vh;
}

.i-am-centered {
    margin: auto;
}