<br>
<div class="align-items-center">
    <img src="./../../assets/logoEscuela.png" class="img-fluid" alt="Responsive image">
</div>
<br>

<div class="view view1 full-bg-img ">
    <div class="mask  flex-center text-white text-center d-flex align-items-center rgba-black-strong">
        <div class="container text-center white-text  fadeInUp">
            <p data-aos="fade-down" class=" mx-5 mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus inventore incidunt deserunt fugit explicabo obcaecati reprehenderit dolores! Laboriosam quos recusandae eaque corrupti inventore vel, necessitatibus omnis excepturi repellat
                nihil odit.
            </p>
        </div>
    </div>
</div>
<br>
<br>
<div style="align-items: center; text-align: center; " class="flex-center">
    <table class="table table-borderless col-lg-6">
        <tbody>
            <tr>
                <td style="text-align: right">
                    <h5><strong><b>Programa académico:  &nbsp; </b></strong></h5>
                </td>
                <td style="text-align: left">
                    <h5>Ingeniería de Sistemas y Computación. </h5>
                </td>
            </tr>
            <tr>
                <td style="text-align: right">
                    <h5><strong><b>Nivel académico:  &nbsp; </b></strong></h5>
                </td>
                <td style="text-align: left">
                    <h5>Pregrado </h5>
                </td>
            </tr>
            <tr>
                <td style="text-align: right">
                    <h5><strong><b>Nivel de formación:

                            &nbsp; </b></strong></h5>
                </td>
                <td style="text-align: left">
                    <h5>
                        Profesional Universitario. </h5>
                </td>
            </tr>
            <tr>
                <td style="text-align: right">
                    <h5><strong><b>Título a otorgar:  &nbsp; </b></strong></h5>
                </td>
                <td style="text-align: left">
                    <h5>Ingeniero de Sistemas y Computación </h5>
                </td>
            </tr>
            <tr>
                <td style="text-align: right">
                    <h5><strong><b>Sede:  &nbsp; </b></strong></h5>
                </td>
                <td style="text-align: left">
                    <h5>Tunja </h5>
                </td>
            </tr>
            <tr>
                <td style="text-align: right">
                    <h5><strong><b>Facultad:&nbsp; </b></strong></h5>
                </td>
                <td style="text-align: left">
                    <h5>Ingeniería </h5>
                </td>
            </tr>
            <tr>
                <td style="text-align: right">
                    <h5><strong><b>Programa académico:  &nbsp; </b></strong></h5>
                </td>
                <td style="text-align: left">
                    <h5>Ingeniería de Sistemas y Computación. </h5>
                </td>
            </tr>
            <tr>
                <td style="text-align: right">
                    <h5><strong><b>Programa académico:  &nbsp; </b></strong></h5>
                </td>
                <td style="text-align: left">
                    <h5>Ingeniería de Sistemas y Computación. </h5>
                </td>
            </tr>
            <tr>
                <td style="text-align: right">
                    <h5><strong><b>Programa académico:  &nbsp; </b></strong></h5>
                </td>
                <td style="text-align: left">
                    <h5>Ingeniería de Sistemas y Computación. </h5>
                </td>
            </tr>
            <tr>
                <td style="text-align: right">
                    <h5><strong><b>Programa académico:  &nbsp; </b></strong></h5>
                </td>
                <td style="text-align: left">
                    <h5>Ingeniería de Sistemas y Computación. </h5>
                </td>
            </tr>
            <tr>
                <td style="text-align: right">
                    <h5><strong><b>Programa académico:  &nbsp; </b></strong></h5>
                </td>
                <td style="text-align: left">
                    <h5>Ingeniería de Sistemas y Computación. </h5>
                </td>
            </tr>
        </tbody>
    </table>
</div>