<div class="container col-md-8">
    <br><br>
    <h4><strong><b>	
        GRUPO DE INVESTIGACIÓN EN INFORMÁTICA, ELECTRÓNICA Y COMUNICACIONES </b></strong></h4>
    <br>
    <div class="align-items-center">
        <img src="./../../assets/LogoInfelcom.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <br>
    <h4 style="text-align: left"> <b> <strong> Mision: </strong> </b></h4>
    <h5 style="text-align: justify"> Mejorar las destrezas cognitivas y profesionales en cuanto al área teleinformática de la comunidad académica adscrita al grupo de investigación, constituyendo un capital humano con conocimientos integrales y vanguardistas en la disciplina informática.
    </h5>
    <br>
    <h4 style="text-align: left"> <b> <strong> Visión: </strong> </b></h4>
    <h5 style="text-align: justify">Ser el grupo de investigación de innegable referencia y consulta por parte de la comunidad académica e investigativa en Colombia en el marco de referencia teleinformático, que posea una gran comunidad de participantes reconocidos por su aporte a la
        ciencia, academia y desarrollo social, instado por el adecuado y ético aprovechamiento de los recursos tecnológicos y métodos ingenieriles.
    </h5>
    <br>
    <h4 style="text-align: left"> <b> <strong> Descripción: </strong> </b></h4>
    <h5 style="text-align: justify">El Grupo de Investigación en Informática, Electrónica y Comunicaciones de la Universidad Pedagógica y Tecnológica de Colombia, es una comunidad conformada básicamente por estudiantes y docentes del programa de Ingeniería de Sistemas y Computación,
        conscientes que el área de la Teleinformática es fundamental para las pretensiones cognitivas y de aplicación profesional y disciplinar.
    </h5>

    <br>
    <h5 style="text-align: justify">La citada comunidad reconoce su responsabilidad por profundizar y generar soluciones innovadoras en el área de las Redes de Datos, Comunicaciones y actividades de gestión de recursos computacionales dispuestos en una organización tan simple como una
        empresa y tan compleja como la misma Internet.
    </h5>
    <br>
    <h4 style="text-align: left"> <b> <strong> Generalidades: </strong> </b></h4>
    <div class="flex-left">
        <table class=" flex-left table table-borderless  col-lg-8 col-md-12">
            <tbody>
                <tr>
                    <td style="text-align: left">
                        <h5><strong><b>Sigla:  &nbsp; </b></strong></h5>
                    </td>
                    <td style="text-align: left">
                        <h5>INFELCOM </h5>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left">
                        <h5><strong><b>Area del conocimiento:  &nbsp; </b></strong></h5>
                    </td>
                    <td style="text-align: left">
                        <h5>Ciencias Naturales -- Computación y Ciencias de la Información </h5>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left">
                        <h5><strong><b>Director:  &nbsp; </b></strong></h5>
                    </td>
                    <td style="text-align: left">
                        <h5>

                            Jorge Enrique Espíndola Díaz</h5>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left">
                        <h5><strong><b>Fecha de creación:  &nbsp; </b></strong></h5>
                    </td>
                    <td style="text-align: left">
                        <h5>Abril de 2003 </h5>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left">
                        <h5><strong><b>Categoría Colciencias:  &nbsp; </b></strong></h5>
                    </td>
                    <td style="text-align: left">
                        <h5>
                            C </h5>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left">
                        <h5><strong><b>Código GrupLAC:&nbsp; </b></strong></h5>
                    </td>
                    <td style="text-align: left">
                        <h5>COL0038889 </h5>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left">
                        <h5><strong><b>Correo contacto:  &nbsp; </b></strong></h5>
                    </td>
                    <td style="text-align: left">
                        <h5><a href="mailto:gis@uptc.edu.co">infelcom@uptc.edu.co</a> </h5>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class=" col-md-6 col-xs-12">
            <h4 style="text-align: left"> <b> <strong> Docentes del programa: </strong> </b></h4>
            <ul style="text-align: justify">
                <li>
                    <h5>Jorge Enrique Espíndola Díaz </h5>
                </li>
                <li>
                    <h5> Germán Amézquita Becerra </h5>
                </li>
                <li>
                    <h5> Jairo Alonso Mesa Lara </h5>
                </li>
                <li>
                    <h5>Omaira Isabel Galindo Parra </h5>
                </li>
                <li>
                    <h5> Alexander Castro Romero</h5>
                </li>
            </ul>
        </div>
        <div class=" col-md-6 col-xs-12">
            <h4 style="text-align: left;"> <b> <strong> Líneas de Investigación: </strong> </b></h4>
            <ul style="text-align: justify">
                <li>
                    <h5>Ciencias de la computación </h5>
                </li>
                <li>
                    <h5>Telecomunicaciones</h5>
                </li>
            </ul>
            <br><br>
        </div>
    </div>
</div>