<div class="container col-md-8">
    <br><br>
    <h4><strong><b>GRUPO DE INVESTIGACIÓN EN SOFTWARE </b></strong></h4>
    <br>
    <div class="align-items-center">
        <img src="./../../assets/gis.jpg" class="img-fluid" alt="Responsive image">
    </div>
    <br>
    <h4 style="text-align: left"> <b> <strong> Mision: </strong> </b></h4>
    <h5 style="text-align: justify"> El grupo de investigación en software ha sido creado con el propósito de presentar a la comunidad el conocimiento suficiente en cuanto a modelos, técnicas y herramientas. </h5>
    <br>
    <h4 style="text-align: left"> <b> <strong> Visión: </strong> </b></h4>
    <h5 style="text-align: justify">El grupo de investigación en software pretende ser inicialmente el mejor en el departamento de Boyacá, el cual brinde soporte informático a las diversas áreas del conocimiento, para posteriormente consolidarse como uno de los más fuertes en Colombia,
        capaz de representar eficientemente a la comunidad investigativa en un ámbito internacional.
    </h5>
    <br>
    <h4 style="text-align: left"> <b> <strong> Descripción: </strong> </b></h4>
    <h5 style="text-align: justify">El Grupo de Investigación en Software GIS, fue creado con el propósito de generar un espacio para la investigación de los diferentes tópicos que cubren los nuevos requerimientos tecnológicos que están a la vanguardia del medio actual. Es por esto
        que se están desarrollando proyectos relacionados con Sistemas Multiagentes, Simulación, Dinámica de Sistemas, captura de señales biomédicas, desarrollo de video juegos y otros importantes aspectos informáticos. Además se busca la publicación
        y divulgación de los principales hallazgos que realice el grupo en sus diferentes áreas y poder compartir experiencias tanto investigativas como personales en el desarrollo de esta labor.
    </h5>
    <br><br>
    <h4 style="text-align: left"> <b> <strong> Generalidades: </strong> </b></h4>
    <div class="flex-left">
        <table class=" flex-left table table-borderless  col-lg-8 col-md-12">
            <tbody>
                <tr>
                    <td style="text-align: left">
                        <h5><strong><b>Sigla:  &nbsp; </b></strong></h5>
                    </td>
                    <td style="text-align: left">
                        <h5>GIS </h5>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left">
                        <h5><strong><b>Area del conocimiento:  &nbsp; </b></strong></h5>
                    </td>
                    <td style="text-align: left">
                        <h5>Ingeniería y Tecnología -- Otras Ingenierías y Tecnologías </h5>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left">
                        <h5><strong><b>Director:  &nbsp; </b></strong></h5>
                    </td>
                    <td style="text-align: left">
                        <h5>
                            Mauro Callejas Cuervo. </h5>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left">
                        <h5><strong><b>Fecha de creación:  &nbsp; </b></strong></h5>
                    </td>
                    <td style="text-align: left">
                        <h5>Febrero 2004 </h5>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left">
                        <h5><strong><b>Categoría Colciencias:  &nbsp; </b></strong></h5>
                    </td>
                    <td style="text-align: left">
                        <h5>
                            A </h5>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left">
                        <h5><strong><b>Código GrupLAC:&nbsp; </b></strong></h5>
                    </td>
                    <td style="text-align: left">
                        <h5>COL0037219 </h5>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left">
                        <h5><strong><b>Correo contacto:  &nbsp; </b></strong></h5>
                    </td>
                    <td style="text-align: left">
                        <h5><a href="mailto:gis@uptc.edu.co">gis@uptc.edu.co</a> </h5>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class=" col-md-6 col-xs-12">
            <h4 style="text-align: left"> <b> <strong> Docentes del programa: </strong> </b></h4>
            <ul style="text-align: justify">
                <li>
                    <h5>Mauro Callejas Cuervo</h5>
                </li>
                <li>
                    <h5> Jorge Enrique Otálora Luna</h5>
                </li>
                <li>
                    <h5>Andrea Catherine Alarcón Aldana </h5>
                </li>
                <li>
                    <h5> Helver Augusto Valero Bustos</h5>
                </li>
                <li>
                    <h5> Manuel Andrés Vélez Guerrero</h5>
                </li>
            </ul>
        </div>
        <div class=" col-md-6 col-xs-12">
            <h4 style="text-align: left;"> <b> <strong> Líneas de Investigación: </strong> </b></h4>
            <ul style="text-align: justify">
                <li>
                    <h5>Calidad de Software </h5>
                </li>
                <li>
                    <h5> Captura y análisis de señales biomecánicas </h5>
                </li>
                <li>
                    <h5>Ingeniería de Software</h5>
                </li>
                <li>
                    <h5>Inteligencia Computacional </h5>
                </li>
                <li>
                    <h5>Desarrollo de video juegos </h5>
                </li>
                <li>
                    <h5>Computación Móvil Aplicada </h5>
                </li>
                <li>
                    <h5>Desarrollo de dispositivos embebidos </h5>
                </li>
            </ul>

            <br><br>
        </div>
    </div>
</div>